body {
	font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
	font-size:100%;
	background-color: #B3BBCA;
}

p {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 0.875em;
	/*border: thin red solid;*/
	line-height:1.75em;
}

h1 {
	font-size: 1.5em;
	/*border: thin red solid;*/
	line-height:1.5em;
	font-weight: normal;
}


h2,h3 {
	font-size:1.125em;
	/*border: thin red solid;*/
	font-weight:lighter;
	text-transform:uppercase;
	letter-spacing:0.2em;
}

h3 {
	font-size:0.875em;
	letter-spacing:0.1em;
}

p, h1, h2, h3, h4 {
	margin-bottom: 20px;
}

ul {
	font-size: 0.875em;
	background-color: #E5DAB3;
	list-style-position: inside;
}

ol {
	font-size: 0.875em;
}

body#home .nav-home, body#nav-about, body#nav-products, body#nav-services, body#nav-contact, body#nav-tutorials {
	background-color:#29336b;
	color:#F8F068;
}

#wrap {
	background-color: #ffffff; 
	width: 960px;
	border: thin solid black;
	margin: 0 auto;
}

#innerwrap:after{
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

#masthead {
	background-color: white; 
}

#masthead h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 2em;
	color:#000000;
	font-weight: normal;
	float:top-center;
	margin:1.5em 4em 0 0;
}

#topNav {
	background-color: #FFFFFF;
	height: 35px;
}

#topNav li {
	float: left;
	width: 120px;
	height: 35px;
	background-color: #7D83A4;
	text-align: center;
	border-left: 1px black solid;
	border-right: 1px black solid;
	line-height: 35px;
}

#topNav ul li a {
	color:#ffffff;
	text-decoration: none;
	display:block;
}

#topNav ul li a:hover {
	background-color:#29336b;
	color:#F8F068;
}

body#home .nav-home, body#aboutus .nav-about, body#contact .nav-contact {
	background-color:#29336b;
	color:#F8F068;
}

#maincontent {
	position: relative;
	width: 600px;
	float: center;
	/*background-color:#ADA446; */
}

#maincontent p, #maincontent h1, #maincontent h2, #maincontent h3 {
	margin-left:20px;
	margin-right:20px;
}

#maincontent h2, #sidebar h2 {
	margin-top:15px;
}

#footer {
	width: 960px;
	height: 118px;
	padding-top: 10px;
}

#footer p {
	margin: 10px 0 0 20px;
	width:280px;
	font-family:Verdana, Geneva, sans-serif;
	font-size: 0.689em;
}

#splash {
	position: absolute;
	width: 290px;
	height: 230px;
	top: 35px;
	left: 35px;
}

#topNav li {
	list-style-type: none;
}